*{
	margin: 0;
	padding: 0;
}
.title-group{
	font-size: 28px;
	text-align: center;
	height: 50px;
	line-height: 50px;
	background: green;
}
@media screen and (min-device-width:320px){   
  .title-group-diy{
    background: yellow;
  }
}  
@media screen and (min-device-width:480px){   
  .title-group-diy{
    background: red;   
  }
}
@media screen and (min-device-width:720px){   
  .title-group-diy{
    background: aqua;
  }
}
.keyboard-group{
	display: initial;
	position: absolute;
	bottom: 0px;
	width: calc(100%);
	line-height: 0;
	height: 320px;
	min-height: 320px;
	max-height: 320px;
	background-color: lightgray;
	padding: 5px;
    border: 1px solid lightgray;
}
.keyboard-group .keyboard-item{
    position: relative;
    display: inline-block;
    width: 10%;
    height: 40px;
    line-height: 40px;
    background-color: papayawhip;
    font-size: 28px;
    text-align: center;
    vertical-align: middle;
    margin: 0 0 5px 0;
}
.wrap-input-group{
	text-align: center;
	margin: 10px 0;
}
.wrap-input-content{
    display: inline-block;
    width: 55%;
    height: 48px;
    line-height: 30px;
    font-size: 26px;
    border: 1px solid gray;
    border-radius: 3px;
}
