*{
	margin: 0;
	padding: 0;
}
.title-group{
	font-size: 2.5em;
    text-align: center;
    height: 1.5em;
    line-height: 1.5em;
	background: green;
}
@media screen and (min-device-width:320px){   
  .title-group-diy{
    background: yellow;
  }
}  
@media screen and (min-device-width:480px){   
  .title-group-diy{
    background: red;   
  }
}
@media screen and (min-device-width:720px){   
  .title-group-diy{
    background: aqua;
  }
}
.keyboard-group{
	display: initial;
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 0;
    height: 16.5em;
    min-height: 16.5em;
    max-height: 16.5em;
    background-color: lightgray;
    padding: 0.25em;
    border: 0.05em solid lightgray;
}
.keyboard-group .keyboard-item{
    position: relative;
    display: inline-block;
    width: 10%;
    height: 1.5em;
    line-height: 1.5em;
    background-color: papayawhip;
    font-size: 1.5em;
    text-align: center;
    vertical-align: middle;
    margin: 0 0 0.25em 0;
}
.wrap-input-group{
    text-align: center;
    margin: 0.5em 0;
}
.wrap-input-content{
    display: inline-block;
    width: 55%;
    height: 2.0em;
    line-height: 2.0em;
    font-size: 1.5em;
    border: 0.05em solid gray;
    border-radius: 0.05em;
}
